@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --blue-color-primary: rgb(100, 100, 260);
  --gradient-color: linear-gradient(40deg, rgb(100, 100, 260), rgb(47, 0, 255));
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20%;
}

.container-form {
  background: rgb(10, 10, 10);
  width: 80%;
  height: 40%;
  padding: 32px 40px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  place-content: center;
  place-items: center;
}

.container-form:before {
  content: "";
  position: absolute;
  background: conic-gradient(
    from 0deg,
    rgb(100, 100, 260),
    rgb(0, 38, 255),
    rgb(100, 100, 260)
  );
  width: 130%;
  height: 40%;
  left: -90px;
  animation: muter 5s linear infinite;
}

form {
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 999;
  position: relative;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.container-form h2 {
  color: white;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  z-index: 999;
  font-size: 32px;
}

.container-form span {
  color: var(--blue-color-primary);
}

.forming {
  display: flex;
  gap: 20px;
}

form .unduh {
  background: var(--gradient-color);
  border-radius: 5px;
  height: 40px;
  font-weight: 600;
}
.forming button {
  font-weight: 600;
  display: flex;
  gap: 10px;
}

@keyframes muter {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-form:after {
  content: "";
  position: absolute;
  background: rgb(10, 10, 10);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  top: 2px;
  left: 2px;
  border-radius: 14px;
  z-index: 1;
}

input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
}

@media (min-width: 768) {
    .hero {
        margin-top: -10%;
    }
}
